html {
    background: url();
    background-repeat: no-repeat;
    background-size: cover; 
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h1 {
    margin-top: 0.3em;
    
    font-size: 70px;
    text-align: center; 
    color: black;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
    color: black;
}

samp {
    display: none;
}

.team-member img {
    width: 250px; 
    height: 100%; 
    object-fit: scale-down; 
}

.team-member {
    display: flex;
    padding-top: 15px;
}

.author-info {
    padding: 0 0 0 10px;
}

img {
    display: block;
    width: 45%;
    text-align: center;
    margin: 0 auto;
}

/*

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
	max-height: 300px;
}
*/

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

#mainHead {
	color: black; 
	font-style: normal; 
	font-variant-ligatures: normal; 
	font-variant-caps: normal; 
	letter-spacing: normal; 
	orphans: 2; 
	text-indent: 0px; 
	text-transform: none; 
	white-space: normal; 
	widows: 2; 
	word-spacing: 0px; 
	text-stroke-width: 0px; 
	text-decoration-style: initial; 
	text-decoration-color: initial; 
	margin-top: 0.3em; 
	font-size: 70px; 
	text-align: center; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;'
}

table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
	text-align: left;
}

td, th {
	padding: 5px 10px;
}

#navTable  {
	width: 100%; 
	background-color: rgb(201, 222, 180); 
	border: border: 1px solid rgb(67, 97, 175); 
	border-collapse: collapse;
}

#navData {
	width: 100%; 
	border: rgb(67, 97, 175);
}

#navTable a {
	text-decoration-color: black;
	color: black;
}
